<div class="container">
  <input type="text" placeholder="Search Movie" [formControl]="input" />
  <button (click)="searchMovie()">Search</button>
  <div *ngIf="movie$ | async as movie">
    <div>Movie Title: {{ movie.Title }}</div>
    <div>This movie was released {{ movie.Year }} years ago.</div>
    <div>Actors: {{ movie.Actors }}</div>
    <div class="country-info" *ngFor="let country of movie.CountryInfo">
          <h2>{{ country.name.common }}</h2>
          <img class="flag" src="{{ country.flags.png }}" alt="" />
    </div>
    <img src="{{ movie.Poster }}" alt="" />
    <div>
      <button (click)="addToFavourites(movie)">Add to Favourites</button>
    </div>
  </div>
</div>
<div *ngIf="loading">Loading data...</div>
